@{
    ViewBag.Title = "Databaskonstruktion";
}

<h2>Demonstrating Viewbag</h2>

<div><span style="font-weight:bold">Get a string from our viewbag</span> @ViewBag.HelloText</div>
<div><span style="font-weight:bold">Get a number from our viewbag</span> @ViewBag.ANumber</div>
