<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Code generated listbox</title>
    </head>
    <body>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
            <p>MVC Example - Code generated listbox</p>
            </footer>
        </div>

        @RenderSection("Scripts", required: false)
    </body>
</html>
